body{
background-color: darkred;	
}
h1 {
text-align: center;
color: black;
}
#text {
text-align: center;
color: teal;
}
#inhoud {
color: black
}
.testSite {
margin-left: 565px;
}
#donate {
font-size: 24px;
font-weight: bold;
background-color: orange;
border: solid 5px;
border-radius: 10px;
}